{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{% static './css/bootstrap/css/bootstrap.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static './css/bootstrap/css/bootstrap.css' %}"
    />
    <link rel="stylesheet" href="{% static './css/styles.css' %}" />
    <title>todo app</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'todo_list' %}">
        <img
          src="{% static './img/logo.png' %}"
          width="100"
          height="50"
          alt=""
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}"
              >home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">about</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'todo_list' %}">todo list</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      {% block content %} {% endblock %}
    </div>

    <script src="{% static './js/main.js' %}"></script>
  </body>
</html>
