{% extends 'base.html' %} {% block content %} {% if user.is_authenticated %}
<h1>welcome {{ user.username }}</h1>
<a href="http://localhost:8000/todos/add">add task</a>
<a href="http://localhost:8000/users/profile">profile</a>
<a href="{% url 'logout' %}">logout</a>
{% else %}
<h1>you need to login</h1>
<a href="{% url 'login' %}">login</a>
{% endif %}

<ul>
  {% for todo in todos %}
  <li>
    <a href="http://localhost:8000/todos/details/{{ todo.id }}"
      >{{ todo.title }}</a
    >
  </li>
  <p>{{ todo.text }}</p>
  {% empty %}
  <p>you have nothing to do.</p>
  {% endfor %}
</ul>
{% endblock %}
