{% extends '../base.html' %} {% block content %} {% load static %}
<div class="section">
  <img
    style="width: 500px; height: 250px;"
    src="{% static './img/lawnmower.jpg' %}"
    alt=""
  />

  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos id ipsa tenetur
  deleniti nisi sapiente odio dolorem perspiciatis beatae dolores aut porro
  minus quisquam numquam, labore officiis eum architecto doloremque? Lorem ipsum
  dolor sit amet, consectetur adipisicing elit. Quam facere expedita, labore
  officia eos magni culpa quas blanditiis at officiis dignissimos delectus omnis
  dicta incidunt obcaecati! Cum alias minima harum?
</div>
{% endblock %}
