{% extends '../base.html' %} {% block content %}
<h1>create a new todo</h1>
<form action="{% url 'todo_create'%}" method="POST">
  {% csrf_token %}
  <div class="form-group">
    <label for="todoText">todo</label>
    <input type="text" class="form-control" id="todoInput" name="todoText" />
  </div>
  <div class="form-group">
    <label for="dueDate">Password</label>
    <input type="date" class="form-control" id="dueDate" name="dueDate" />
  </div>
  <div class="form-group form-check">
    <input
      type="checkbox"
      class="form-check-input"
      id="completed"
      name="todoCompleted"
      checked="false"
    />
    <label class="form-check-label" for="todoCompleted">completed</label>
  </div>
  <button type="submit" class="btn btn-primary">add todo</button>
</form>
{% endblock %}
