{% extends '../base.html' %} {% block content %}
<h1>update todo</h1>
<form action="{% url 'todo_update'  todo.id %}" method="POST">
  {% csrf_token %}
  <div class="form-group">
    <label for="todoText">todo description</label>
    <input
      type="text"
      class="form-control"
      id="todoInput"
      name="todoText"
      value="{{todo.text}}"
    />
  </div>
  <div class="form-group">
    <label for="dueDate">due date</label>
    <input
      type="date"
      class="form-control"
      id="dueDate"
      name="dueDate"
      value="{{todo.due_date}}"
    />
  </div>
  <div class="form-group form-check">
    <input
      type="checkbox"
      class="form-check-input"
      id="completed"
      name="todoCompleted"
      checked="{{todo.completed}}"
    />
    <label class="form-check-label" for="todoCompleted">completed</label>
  </div>
  <button type="submit" class="btn btn-primary">update todo</button>
</form>
{% endblock %}
