{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static './css/style.css' %}" />
    <title>get data</title>
  </head>
  <body>
    <h1>get data</h1>
    <div class="container">
      <form action="{% url 'process' %}" method="POST">
        {% csrf_token %}
        <label for="first_name">first name: </label>
        <input type="text" name="first_name" />
        <label for="last_name">last name: </label>
        <input type="text" name="last_name" />
        <label for="age">age: </label>
        <input type="text" name="age" />
        <button type="submit">submit</button>
      </form>
    </div>
  </body>
</html>
